
/* @import './fontawesome.css'; */
@import './argon-dashboard-tailwind.css';
@import './nucleo-icons.css';
@import './nucleo-svg.css';

/* @import './fonts/fa-solid-900.woff2'; */

@import './fa2.min.css';
@import'./tooltips.css';
@import './perfect-scrollbar.css';

@media print {
    body * {
      visibility: hidden;
    }

    /* @page{
      size: a4 portrait;
      margin: none; 
    } */

    #printable, #printable * {
      /* background: red; */
        /* max-width: 150rem; */
      visibility: visible;
      /* height: 3508px; */
      /* width: 248px; */
    }

    #my-terminal #my-terminal * {
      /* background: red; */
        /* max-width: 150rem; */
      visibility: visible;
      /* height: 3508px; */
      /* width: 248px; */
    }
    #printable {
      /* position: absolute; */
      /* left: 0; */
      /* top: 0; */
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
